@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #F6F8FA !important;
    padding: 50px 10%;
}

p {
    margin: 0;
}

nav {
    
    padding: 0 !important;

    & > a{
        min-width: 289px;
    }
}

.btn-custom {
    background-color: #CF2236 !important;
}

.primary-btn:hover, .btn-custom:hover{
    background-color: #c82333 !important;
    color: #fff;
}


.m-40 {
    margin-top: 40px;
}

.border-20 {
    border-radius: 20px;
}

.circle {  
    width: 10px;
    height: 10px;
    background-color: #F3C212;
    
}

.primary-text-color {
    font-weight: 500;
    color: var(--primary-text-color);
}

.secondary-text-color {
    color: var(--secondary-text-color);
    font-weight: 500;
}

.tertiary-text-color {
    color: var(--tertiary-text-color);
    font-weight: 500;
}


:root {
    --primary-text-color: #000000;
    --secondary-text-color: #7E7E7E;
    --tertiary-text-color: #5F5E5E;
}